<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--1.定义html模板-->
<a href="#">{{ username }}</a>
<hr>
我的年龄是 {{ age }}
我的朋友是 {{ friends }}
我总共有{{ friends|length }}个朋友
我的girlfriend是 {{ friends.2 }}
<hr>
{% for item in friends%}
<li>{{ item }}{{forloop.counter}}</li>
{% endfor %}
<hr>
我第一年的月薪是 {{ money.2019 }}
<hr>
{% if age > 10 %}
大于10岁
{% else %}
不大于10岁
{% endif %}
<hr>
{# 我是注释 #}
{% comment %}
我也是注释
{% endcomment %}
<hr>
<!--过滤器的语法形式：变量|过滤器:'参数'-->
当前时间是{{ birthday|date:'Y 年 m 月 d 日' }}
<hr>
<!--我的简介是{{ desc|safe }}-->
<hr>
我没有定义的变量{{ abcde|default:'我就是默认值～～～' }}
</body>
</html>